body {
    display: flex;
    flex-direction: column;

    background-color: white;

    justify-content: center; align-items: center;
}

#calculator-base {
    display: flex;
    flex-direction: column;
    justify-content: start; align-items: center;

    width: auto; height: auto;

    border-radius: 20px;
    border: black 2px solid;
    background-color: grey;
}

.screen {
    width: 350px; height: 100px;
    flex-shrink: 0;
    display: flex;
    justify-content: end; align-items: center;

    margin: 30px;

    font-size: 50px;

    border-radius: 10px;
    border: rgb(80, 108, 117) solid 2px;
    background-color: rgb(136, 197, 218);
}

.buttoncontainer {
    display: grid;

    grid-template-columns: repeat(4, 5vmax);
    grid-template-rows: repeat(5, 5vmax);

    margin: 30px;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center; align-items: center;

    font-size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border-radius: 10px;
    background-color: lightgray;
}

.button:active {
    background-color: darkgray;
    font-size: 30px;
}

@keyframes color {
    0%{background-color: white;}
    10%{background-color: blue;}
    20%{background-color: red;}
    30% {background-color: royalblue;}
    40% {background-color: palegreen;}
    50% {background-color: purple;}
    60% {background-color: yellow;}
    70% {background-color: aqua;}
    80% {background-color: violet;}
    90% {background-color: orange;}
    100%{background-color: white;}
}
.animation{
    animation-name: color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}