body {
    display: flex;
    flex-direction: column;

    justify-content: center; align-items: center;
}

#calculator-base {
    display: flex;
    flex-direction: column;
    justify-content: start; align-items: center;

    width: 450px;
    height: 600px;

    border-radius: 20px;
    background-color: beige;
}

.screen {
    width: 350px;
    height: 100px;

    margin: 30px;

    border-radius: 10px;
    background-color: cadetblue;
}

.buttoncontainer {
    display: grid;

    grid-template-columns: repeat(4, 4vmax);
    grid-template-rows: repeat(5, 4vmax);

    margin: 30px;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: center; align-items: center;

    font-size:40px;


    border-radius: 10px;
    background-color: darkgoldenrod;
}

.button#word{
    font-size: 20px;
}